/*
 *  The following stylize the added summoner tags 
 */

.tag {
  font-size: 18px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #000;
  margin-bottom: 2px;
}

#newSummoner {
    width: 25%;
}

/* 
 *  The following stylize modal images (/modals/modalImage.html)
 */

/*
.modal-image .image-wrapper img {
    max-width: 560px;
    max-height: 560px;
}
*/

/*
#modal-image {
    max-width: 560px;
    max-height: 560px;
}
*/


div .image-wrapper { 
    width: 600px;
}
#modal-image { 
    max-width: 100%;
    display: table;
}

/*

img.resize{
    width:560px;
    height: auto;
}
*/

.top-buffer { margin-top:20px; }
