html {
    font-family: "Open Sans";
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#nav li {
    float: left;
}
li {
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-top: 5px;
    margin-bottom: 25px;
       

}

a {   
    border-radius: 15px;
 /*   display: block; */
    padding: 8px;
    background-color: bisque;  

}
a:visited {
    color: blue;
}
a:active {
    color: red;
}
a:link {
    text-decoration: none
}
