<div>
    <nav class="navbar">
        <a href="#/hoffmannbot/get" class="btn btn-default navbar-btn btn-primary">Get bot for your channel</a>
        <a href="#/hoffmannbot/commands/" class="btn btn-default navbar-btn btn-primary">Twitch chat commands</a>
        <a href="#/hoffmannbot/about/" class="btn btn-default navbar-btn btn-primary">About hoffmannbot</a>
    </nav>
</div>

<br />
Your summoners
<div ng-repeat="sum in summoners">
    <span class="tag label label-primary">
        <span>{{ sum.summoner }} ({{ sum.region }})</span>
        <a ng-click="remove(user, sum.summoner, sum.region)"> 
            <i class="remove glyphicon glyphicon-remove glyphicon-white"></i>
        </a>
    </span>
</div>
<br />
<form class="form-inline" ng-submit="add(user, inputSummoner, region); inputSummoner='';">
    <div class="form-group">
        <input type="text" class="form-control" id="newSummoner" onfocus="this.select()" ng-model="inputSummoner">
        <select name="region" class="form-control" ng-model="region">
            <option value="NA">NA</option>
            <option value="BR">BR</option>
            <option value="EUNE">EUNE</option>
            <option value="EUW">EUW</option>
            <option value="JP">JP</option> 
            <option value="KR">KR</option>  
            <option value="LAN">LAN</option>
            <option value="LAS">LAS</option>
            <option value="OCE">OCE</option>
            <option value="TR">TR</option>
            <option value="RU">RU</option>
        </select>
        <input type="submit" class="btn btn-default" value="Add" ng-disabled="(inputSummoner.length < 3) || (inputSummoner.length > 16) || (summoners.length > 6)">
    </div>
</form>
<br />
<div class="alert alert-danger col-xs-6" role="alert" ng-hide="(inputSummoner.length > 2) || (inputSummoner.length === 0)">
    Summoner names must be at least 3 characters long!
    <br />
</div>
<div class="alert alert-danger col-xs-6" role="alert" ng-hide="(inputSummoner.length < 17)">
    Summoner names must be no more than 16 characters long!
    <br />
</div>
<div class="alert alert-danger col-xs-6" role="alert" ng-hide="(summoners.length < 7)">
    You've reached the maximum (7) number of summoners!
    <br />
</div>
<div class="alert alert-danger col-xs-6" role="alert" ng-show="repeatEntry()">
    This summoner name has already been registered for this region!
    <br />
</div>
 