<h1 class="page-header">Welcome</h1>
<p>
    HoffmannBot is a <b>free</b> service that integrates League of Legends game info into your Twitch channel and chat. Here you can see what exactly the bot does and configure the bot for your channel.
</p>
<h2 ng-hide="currentlyLiveStreams.length == 0">LIVE streams currently using HoffmannBot</h2>
<div>CMON: {{ currentlyLiveStreams.length }}</div>
<div class="row">
<div ng-repeat="channel in currentlyLiveStreams">
    <div class="col-xs-12 col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                ng-src="{{getIframeSrc(channel.name)}}"
                scrolling="no"
                height="360"
                width="640"
                allowfullscreen="true">
            </iframe>
        </div>
        <br /> 
    </div>
</div>
</div>
<button ng-click="test()">Help</button>
